.dGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  justify-content: center;
  gap: 2.5rem 0.5rem;
  transition: all 0.25s;
  padding-top: 1rem;
  padding-bottom: 3rem;
  overflow-x: hidden;
}
.cardElement {
  border: 1px solid #e1e1e1;
  width: 250px;
  height: auto;
  border: 5%;
  display: grid;
  place-items: center;
  padding: 25px 10px;
  border-radius: 10px;
}
.imgHolder {
  width: 175px;
  height: 175px;
  object-fit: contain;
  cursor: pointer;
}
.soonHolder {
  font-size: 6.5px;
  letter-spacing: 0.5px;
  text-align: end;
}
.brandHolder {
  margin-top: 1rem;
  font-family: Montserrat-500;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
}

.titleHolder {
  font-family: Arial;
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
  color: #6a6a6a;
  cursor: pointer;
}
.priceHolder {
  font-family: Montserrat-500;
  font-size: 18px;
  line-height: 34px;
  font-weight: bold;
}
.linkHolder {
  cursor: pointer;
}
.btnHolder {
  background-color: #000;
  color: #fff;
  font-family: Montserrat-600;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  height: 40px;
  width: 150px;
  margin: auto;
  display: grid;
  place-content: center;
}
