.button {
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.8px;
  border-radius: 8px;
  background: #000;
  height: 42px;
  padding: 0px 13px;
  border: none;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.12px;
}
.crossed {
  color: #9c9c9c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.12px;
  text-decoration: line-through;
}
 p,h2{
  /* text-align: start!important; */
  text-transform: capitalize;
  line-height: 21px;
}