.button {
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.8px;
  /* border-radius: 8px; */
  background: #000;
  height: 34px;
  padding: 0px 8px;
  border: none;
 margin-top: -3px;
 display: grid;
 place-content: center;
}
.product-card-element-holder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.12px;
}
.crossed {
  color: #9c9c9c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.12px;
  text-decoration: line-through;
}
.textCenter {
  text-align: start !important;
}
.priceInputHolder {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 100px;
  padding: 1px 5px;
}
